name: RSS Everyday
on: 
  workflow_dispatch:
  schedule:
    - cron: '0 */3 * * *'
#env:
#  TZ: Asia/Shanghai

jobs:
  search-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.19.x
    - name: Checkout code
      uses: actions/checkout@v2
    - name: build
      run: go run main.go -tg-bot=${{secrets.BOTTOKEN}} -tg-channel=${{secrets.CHANNELID}} -goroutine-num 10
